---
---

// Settings

$text-color: #000;
$link-color: #9b573d;
$link-hover: #f5d0c2;
$accent: #fcf3f0;
$background: #fffefe;

$content-margin: 10px;

// Style

@mixin black-border {
    border: solid 2px #000;
    border-radius: 2px;
    box-sizing: border-box;
}

.black-border {
    @include black-border;
}

body {
    background-image: url("/assets/background.jpg");
    background-size: 100%;
    background-repeat: repeat-y;
    font-family: Times, "Times Roman", "Times New Roman", serif;
    font-size: 13pt;
    color: $text-color;
    overflow-wrap: anywhere;
    padding: 0;
    margin: 0;
    text-align: center;
    
    > div {
        text-align: left;
        display: inline-block;
        background-color: $background;
        min-height: 100vh;
        margin: 0px auto;
        padding-bottom: 30vh;
    }
}

img {
    height: auto;
    max-width: 100%;
}

a {
    text-decoration: underline;
    color: $link-color;

    &:hover {
        background-color: $link-hover;
    }

    &.no-hover:hover {
        background-color: transparent;
    }
}

form.mailing-list {
    input {
        padding: 5px;
        margin: 3px 0px;
    }
}

header {
    // Site banner
    > img {
        margin: 0 auto;
        display: block;
    }

    > div.upcoming-concert {
        text-align: center;
    
        > p {
            display: inline-block;
            background-color: $accent;
            border: solid 6px $accent;
            border-radius: 6px;
            margin: 7px 0;
        }
    }

    > div.header-sponsors {
        text-align: center;
        margin-bottom: 5px;
    
        > a, form {
            display: inline-block;
            border: solid 3px transparent;
            border-radius: 3px;
            vertical-align: middle;
            margin: 5px;
    
            &:hover {
                border-color: $link-hover;
                background-color: transparent;
            }
        }
    
        > a > img, > form > input {
            display: block;
            margin: 0px;
            padding: 0px;
            height: 55px;
            width: auto;
            max-width: 100%;
        }
    }
}

nav {
    text-align: center;

    > a {
        display: inline-block;
        margin: 7px 7px;
        font-size: 1.1em;
        font-weight: bold;
        text-decoration: inherit;
        background-color: $accent;
        border: solid 3px $accent;
        border-radius: 5px;
        padding: 0px 5px;

        &:hover {
            border-color: $link-hover;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 0 $content-margin 5px $content-margin;

    @at-root {
        h1 {
            font-size: 1.9em;
            text-align: center;
            margin: 20px 5px;
        }

        h2 {
            font-size: 1.6em;
        }

        h3 {
            font-size: 1.4em;
        }

        h4 {
            font-size: 1.2em;
        }

        h5 {
            font-size: 1.1em;
        }

        h6 {
            font-size: 1.05em;
        }
    }
}

main {
    margin: 0 auto;
    padding: 0 0 10px;
    max-width: 700px;

    p, form, address {
        margin: 10px $content-margin 18px;
    }
}

strong.gist {
    font-weight: bold;
    font-style: italic;
    font-size: 1.3em;
    display: block;
    text-align: center;
}

div.musicians {
    text-align: center;
    font-weight: bold;
    font-style: italic;

    > p {
        max-width: 150px;
        margin: 10px 5px;
        display: inline-block;
        vertical-align: middle;

        @media (max-width: 330px) {
            margin: 10px 0;
            max-width: 200px;
        }

        > img, a, span {
            display: block;
            margin: auto;
        }

        img {
            @include black-border;
        }
    }
}

address {
    font-style: normal;
}

.big {
    font-size: 1.5em;
}

div.ticket {
    margin: 20px $content-margin 20px $content-margin;
    span {
        font-weight: 1.1em;
        display: inline;
        vertical-align: middle;
        font-weight: bold;
    }

    form {
        margin: 0;
        display: inline-block;
        vertical-align: middle;
    }
}

div.home-sponsors {
    text-align: center;

    > a {
        display: inline-block;
        border: solid 3px transparent;
        border-radius: 3px;
        vertical-align: middle;
        margin: 5px;
        box-sizing: border-box;

        &:hover {
            border-color: $link-hover;
            background-color: transparent;
        }
    }

    > a > img {
        width: 250px;
    }
}

footer {
    > p {
        margin: 14px $content-margin;
        text-align: center;
        font-size: 0.7em;
        color: #000000cc;
    }
}