{% comment %} Outputs the program of a concert. {% endcomment %}
{% for piece in include.concert.program %}
    <p>
        <strong>{% include musician.html name = piece.by %}: {{ piece.title }}</strong>
        {% if piece.subtitle %}
            <br>{{ piece.subtitle }}
        {% endif %}
        {% if piece.details %}
            <br><em>{{ piece.details }}</em>
        {% endif %}
    </p>
    {% if include.movements and piece.movements %}
        <p>
            {% for movement in piece.movements %}
            {{ movement }}<br>
            {% endfor %}
        </p>
    {% endif %}
{% endfor %}