{% comment %} Outputs the roster of a concert. {% endcomment %}
{% for section in include.concert.roster %}
    <p>
        <strong>{{ section.section }}</strong>
        {% for person in section.people %}
            <br>
            {% assign parsed = person | split: " ~ " %}
            {% assign name = parsed[0] %}
            {% assign details = parsed[1] %}
            {% include musician.html name = name %}{% if details %}<em>
                    - {{ details }}
                </em>
            {% endif %}
        {% endfor %}
    </p>
{% endfor %}