{% comment %} Outputs the roster of a concert. {% endcomment %}
{% for section in include.concert.roster %}
    <h4>{{ section.section }}</h4>
    <p>
        {% for person in section.people %}
            {% assign parsed = person | split: " ~ " %}
            {% assign name = parsed[0] %}
            {% assign details = parsed[1] %}
            {% include musician.html name = name %}{% if details %}<em>
                    - {{ details }}
                </em>
            {% endif %}
            <br>
        {% endfor %}
    </p>
{% endfor %}