* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("background.jpg");
    font-family: Times, "Times Roman", "Times New Roman", sans-serif;
    font-size: 13pt;
    color: #000;
    overflow-wrap: anywhere;
}

input {
    padding: 5px;
    margin: 3px 0px;
}

img {
    height: auto;
    max-width: 100%;
}

header > img {
    margin: 10px auto;
    display: block;
}

a {
    text-decoration: underline;
    color: #864126;
}

a:hover {
    background-color: #ccc;
}

a.no-hover:hover {
    background-color: transparent;
}

nav {
    margin: 3px 0px;
    text-align: center;
}

nav a {
    display: inline-block;
    margin: 7px 7px;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: inherit;
    background-color: #fff;
    border: solid 3px #fff;
    border-radius: 5px;
    padding: 0px 5px;
}

nav a:hover {
    border-color: #ccc;
}

#upcoming-concert {
    text-align: center;
}

#upcoming-concert span {
    display: inline-block;
    background-color: #fff;
    border: solid 10px #fff;
    border-radius: 5px;
}

#header-sponsors {
    text-align: center;
}

#header-sponsors a, #header-sponsors form {
    display: inline-block;
    background-color: #fff;
    border: solid 3px #fff;
    border-radius: 3px;
    vertical-align: middle;
    margin: 5px;
}

#header-sponsors a:hover, #header-sponsors form:hover {
    border-color: #ccc;
}

#header-sponsors img, #header-sponsors input {
    display: block;
    margin: 0px;
    padding: 0px;
    height: 55px;
    width: auto;
    max-width: 100%;
}

h1 {
    font-size: 2.2em;
    font-weight: bold;
    text-align: center;
    margin: 20px 5px;
}

h2 {
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 7px;
}

h3 {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 5px;
}

article > div {
    background-color: #fff;
    border: solid 13px #fff;
    border-radius: 5px;
    margin: 10px auto;
    max-width: 700px;
}

article p {
    margin-bottom: 20px;
}

ul {
    margin: 0px 0px 10px 20px;
}

li {
    margin-bottom: 10px;
}

strong.gist {
    font-weight: bold;
    font-style: italic;
    font-size: 1.3em;
    display: block;
    text-align: center;
}

div.profiles {
    font-size: 1.1em;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

div.profiles p {
    max-width: 200px;
    margin: 5px;
    display: inline-block;
    vertical-align: middle;
}

div.profiles p a {
    display: block;
    margin: auto;
}

div.profiles p span {
    display: block;
    margin: auto;
}

div.profiles p small {
    display: block;
    margin: auto;
    font-size: 0.8em;
    font-weight: normal;
}

p.concert a {
    font-size: 1.3em;
}

footer {
    text-align: center;
    font-size: 0.7em;
    color: #000000cc;
}

footer p {
    margin: 10px 5px;
}