---
# This page automatically lists concerts accordings to date.

title: Octava Concerts
menu_order: 2
menu_title: concerts
---
<h1>Concerts</h1>
<p>View the posters and programs of <strong><em>Octava</em></strong> concerts.</p>
{% assign concerts = site.concerts | sort: "date" %}
{% assign upcoming_concerts = concerts | where_exp: "concert", "concert.date >= site.data.active_concert" %}
{% for concert in upcoming_concerts %}
    <h3><a href="{{ concert.url }}">{{ concert.title }}</a></h3>
    <p>{{ concert.date | date: "%A, %B %-d %-I:%M%P" }}</p>
    {% include program.html concert = concert %}
{% endfor %}
<h2>Past Concerts</h2>
{% assign past_concerts = concerts | where_exp: "concert", "concert.date < site.data.active_concert" | reverse %}
{% for concert in past_concerts %}
    <h3><a href="{{ concert.url }}">{{ concert.title }}</a></h3>
    <p>{{ concert.date | date: "%B %-d, %Y" }}</p>
{% endfor %}