---
# This page automatically lists the musicians that have a bio on this website.

title: Musicians of Octava
menu_title: musicians
menu_order: 3
---
<h1>The Musicians of <em class="big">Octava</em></h1>
<p style="text-align:center;">
    Want to join <strong><em>Octava</em></strong>?
    See our <a href="/auditions/">auditions</a> page.
</p>
<div class="musicians">
{% assign musicians = site.musicians | sort: "priority" %}
{% for musician in musicians %}
<p>
    {% if musician.photo %}
        <img src="{{ musician.url }}.jpg" alt="{{ musician.title }}">
    {% endif %}
    <a href="{{ musician.url }}">{{ musician.title }}</a>
    <span>
        {{ musician.role }}
    </span>
    {% if musician.priority >= 0 %}
        <small>Guest artist</small>
    {% endif %}
</p>
{% endfor %}
</div>