---
# This page automatically lists the musicians that have a bio on this website.

title: Musicians of Octava
menu_title: musicians
menu_order: 3
---

<h1>The Musicians of <em class="big">Octava</em></h1>
<p style="text-align:center;">
    Want to join <strong><em>Octava</em></strong>?
    See our <a href="/auditions/">auditions</a> page.
</p>
{% assign musicians = site.musicians | where: "octava_musician",true | sort: "order" %}
{% include musicians.html list = musicians %}
<h2>Personell of the Octava Chamber Orchestra</h2>
{% assign concert =
    site.concerts |
    where_exp: "concert", "concert.date < site.data.active_concert and concert.roster" |
    sort: "date" |
    last
%}
<p>
    From our concert on {{ concert.date | date: "%B %-d, %Y"}}.
    Sections are listed alphabetically.
    See the <a href="{% link _main_pages/concerts.html %}">concerts page</a> to view the rosters of 
    other concerts.
</p>
{% include roster.html concert = concert %}
