---
title: Musicians of Octava
menu_title: musicians
menu_order: 3
---
<p style="text-align:center;">
    Want to join <strong><em>Octava</em></strong>?
    See our <a href="/auditions/">auditions</a> page.
</p>
<div class="profiles">
{% for musician in site.musicians %}
<p>
    {% if musician.photo %}
        <img src="{{ musician.url | replace: "bio/","photo.jpg" }}" alt="{{ musician.title }}">
    {% endif %}
    <a href="{{ musician.url }}">{{ musician.title }}</a>
    <span>
        {{ musician.role }}
    </span>
    {% if musician.priority >= 0 %}
        <small>Guest artist</small>
    {% endif %}
</p>
{% endfor %}
</div>