---
layout: page
---
{% if page.date >= site.data.active_concert %}
    {% assign future = true %}
{% else %}
    {% assign future = false %}
{% endif %}

<h1>{{ page.title }}</h1>
{% include poster.html concert = page %}
<p>
    {% if future %}
        <strong>{{ page.date | date: "%A, %B %-d %-I:%M%P" }}</strong>
    {% else %}
        Performed on {{ page.date | date: "%B %-d, %Y"}}
    {% endif %}
    {% if page.venue %}
        at 
        {% if page.venue.url %}
            <a href="{{ page.venue.url }}">{{ page.venue.name }}</a>
        {% else %}
            {{ page.venue.name }}
        {% endif %}
        <br>
        {{ page.venue.address }}
        {% if page.venue.phone %} <br> {{ page.venue.phone }} {% endif %}
    {% endif %}
</p>

{% if future %}
{% include tickets.html concert = page %}
{% endif %}

{% if page.program %}
    <h2>Program</h2>
    {% include program.html concert = page %}
{% endif %}

{% if page.roster %}
    <h2>Roster</h2>
    <p>Section members listed alphabetically.</p>
    {% include roster.html concert = page %}
{% endif %}