---
layout: page
---
<h1>{{ page.title }}</h1>
{% if page.poster %}
    <a href="../poster.jpg" download style="display:block;margin:0 10 auto;" class="no-hover">
        <img class="black-border" src="../poster.jpg" alt="{{ page.title }}">
    </a>
{% endif %}
<p>
    {% if page.date < site.data.active_concert %}
        Performed on {{ page.date | date: "%B %-d, %Y"}}
    {% else %}
        <strong>{{ page.date | date: "%A, %B %-d %-I:%M%P" }}</strong>
    {% endif %}
    {% if page.venue %}
        at 
        {% if page.venue.url %}
            <a href="{{ page.venue.url }}">{{ page.venue.name }}</a>
        {% else %}
            {{ page.venue.name }}
        {% endif %}
        <br>
        {{ page.venue.address }}
        {% if page.venue.phone %} <br> {{ page.venue.phone }} {% endif %}
    {% endif %}
</p>
{{ content }}